<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="fragment-footer">
<br>
<div class="jumbotron text-center" style="margin-top:0">
    <p>Created by Namdea_Lee</p>
    <p>Email : rkdgml357@naver.com</p>
    <a href="https://ramdalee.tistory.com/" target="_blank" style="text-decoration:none; color: black">🔗 Blog</a><br>
    <a href="https://github.com/Ramda-Lee" target="_blank" style="text-decoration:none; color: black">🔗 Github</a>

</div>
</footer>
</html>